.image img {
  height: 150px;
  object-fit: contain;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em 0;
  grid-template-areas:
    'name name name'
    'price price addButton'
  ;
  padding: 0.5em;
}

.price {
  align-self: end;
  grid-area: price;
}

.name {
  grid-area: name;
  margin: 0;
}

.addButton {
  background-color: var(--blue-primary);
  border-radius: 50%;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  grid-area: addButton;
  height: 50px;
  transition: all 0.05s ease-in-out;
  width: 50px;
}

.addButton:hover {
  background-color: var(--blue-secondary);
}

.addButton:active {
  transform: scale(0.9);
}