<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ontdek het ruime assortiment van Foodly! ✓Boodschappen thuisbezorgd ✓Versgarantie ✓Heerlijke recepten. Bestel nu."
    />
    <title>Foodly</title>
  </head>

  <body>
    <div id="root"><%- component %></div>
    <script defer="defer" src="<%= assets['client.js'] %>"></script>
  </body>
</html>
